# Add any directories, files, or patterns you don't want to be tracked by version control
Information security/.vs

Information security/Temp

Information security/Library
Information security/.idea
Information security/Assembly-CSharp.csproj
Information security/Assembly-CSharp-Editor.csproj
Information security/ArchitecturalGame.sln
Information security/ArchitecturalGame.csproj
Information security/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Information security/Logs

Information security/obj

.vs
/builds
Information security/Assets/Plugins/Editor/JetBrains

*.csproj

# Build related
Cake/tools/**
Cake/!tools/packages.config
